

.Editor--wrapper {
  .Editor {
    background: #fff;
    border: 1px solid black;
    display: flex;
  }
  &.one {
    $marg: 2.5rem;
    $margT: 2.5rem;
    $margS: 1rem;
    $pad: 2rem;
    border: 1px dashed tomato;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.5);
    padding: $margT $margS 0;
    .Editor {
      padding: $pad;
    }
  }
}

@media only screen and (max-width: 780px) {
  .Editor {
    flex-direction: column-reverse;
  }
}
